################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataStructures/bin
/DataStructures/obj
/Algorithms/bin
/Algorithms/obj